<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.libshare.jonkevin.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".boolListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".boolDetailActivity"
            android:label="@string/title_bool_detail"
            android:parentActivityName=".boolListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".boolListActivity" />
        </activity>
    </application>

</manifest>
